.hero {
    text-align: center;
}

.game-space {
    text-align: center;
}

.result-space {
    display: flex;
}

.result-space div {
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin: auto;
}